<!DOCTYPE html>
<html><head><title>ER Components Tour</title></head>
<body>

<h3 align="center">ERPPieChart & ERPCategoryChart</h3>

<p><webobject name="HomeLink">Back To Main Page</webobject></p>

<p>
Using "Mobile Phone Sales Data": (itemSet1)<br>
<blockquote>
[ { name = "RIM"; value = 200; category = "01/2011" },<br>
{ name = "RIM"; value = 210; category = "02/2011" },<br>
{ name = "RIM"; value = 215; category = "03/2011" },<br>
{ name = "iPhone"; value = 100; category = "01/2011" },<br>
{ name = "iPhone"; value = 150; category = "02/2011" },<br>
{ name = "iPhone"; value = 200; category = "03/2011" },<br>
{ name = "Android"; value = 50; category = "01/2011" },<br>
{ name = "Android"; value = 55; category = "02/2011" },<br>
{ name = "Android"; value = 110; category = "03/2011" } ]
</blockquote>
</p>

<p>LineChart:</p>

<blockquote>
<webobject name="LineChart" />
</blockquote>

<p>BarChart:</p>

<blockquote>
<webobject name="BarChart" />
</blockquote>


<p>StackedBarChart:</p>

<blockquote>
<webobject name="StackedBarChart" />
</blockquote>

<p>BarChart3D:</p>

<blockquote>
<webobject name="BarChart3D" />
</blockquote>

<p>StackedBarChart3D:</p>

<blockquote>
<webobject name="StackedBarChart3D" />
</blockquote>

<p>StackedAreaChart:</p>

<blockquote>
<webobject name="StackedAreaChart" />
</blockquote>

<p>AreaChart:</p>

<p>Note that the order of the data in the items list is significant here. One can see that the "RIM" values are larger than
the "iPhone" numbers. If the "iPhone" entries appear first in the items array, then the iPhone data is "behind" the "RIM"
data and so the iPhone data disappears.</p>

<table align="center" cellpadding="5" border="1">
<tr>
<td align="center">data entries in order: RIM, iPhone, Android</td>
<td align="center">data entries in order: iPhone, RIM, Android</td>
</tr>
<tr><td>
<webobject name="AreaChart1" />
</td>
<td>
<webobject name="AreaChart2" />
</td></tr>
</table>

<p>WaterfallChart:</p>

<p>Using "iPhone Sales Data": (itemSet2)
<blockquote>
[ { name = "iPhone"; value = 20; category = "01/2011" },<br>
{ name = "iPhone"; value = 25; category = "02/2011" },<br>
{ name = "iPhone"; value = 30; category = "03/2011" },<br>
{ name = "iPhone"; value = 75; category = "Total Q1" } ]
</blockquote>
</p>

<blockquote>
<webobject name="WaterfallChart" />
</blockquote>

</body></html>
