<!DOCTYPE html>
<html><head><title>ER Components Tour</title></head>
<body>

<h3 align="center">A Captcha!</h3>

<p><webobject name="HomeLink">Back To Main Page</webobject></p>

<p>
<webobject name="AttemptedCondition">
Last attempt was a <webobject name="UserIsOk">SUCCESS!</webobject><webobject name="UserIsNotOk">FAILURE!</webobject>
</webobject>
<webobject name="NotAttemptedCondition">
Well, do you feel lucky, punk? Do ya?
</webobject>
<p>

<webobject name="Form">
<webobject name="Captcha" />
<br><br>
<webobject name="SubmitButton" />
</webobject>

</body></html>